{
  "mp3Source": "file",
  "fsConfig": {
    "root": "~/Music"
  },
  "s3Config": {
    "accessKeyId": "xxxx", 
    "secretAccessKey": "yyyy", 
    "bucket": "mybucket"
  },
  "port": "8025",
  "users": [
    { "id": 1, "username": "user1", "password": "user1pass", "email": "user@mail.com" }
  ]
}

